<%# Build The Content Heading %>
<% if (title) { %>
    <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<%# Show A Message Block %>
<%- messages() %>
    
<%# Errors Display %>
<% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<%# Build The Details Display %>
<%- box %>

<!-- Build The Reviews Display -->
<section id="reviews">
  <h2>Customer Reviews</h2>

  <% if (reviews && reviews.length > 0) { %>
    <ul>
      <% reviews.forEach(r => { %>
        <li>
          <strong><%= r.account_firstname %> <%= r.account_lastname %></strong>
          <em>(<%= new Date(r.review_date).toLocaleString() %>)</em>
          <p class="reviewContent"><%= r.review_content %></p>
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No reviews yet for this vehicle.</p>
  <% } %>
</section>

<!-- Build The Add Review Form -->
<% if (loggedin && accountData.account_type == "Client" && !hasReviewed) { %>
  <section class="review-form">
    <h2>Leave a Review</h2>
    <form id="reviewForm" action="/inv/add-review" method="post">
      <textarea name="review_content" value="<%= locals.review_content %>" required></textarea>
      <br>
      <input type="submit" class="submitButton" value="SUBMIT REVIEW">
      <input type="hidden" name="inv_id" value="<%= inv_id %>">
    </form>
  </section>
<% } %>